.card {
  border-radius: 18px;
  padding: 1.53em 1.64em 1.64em 1.67em;
  background-color: #ECF3FF;
  box-sizing: border-box;
  max-width: 380px;
  min-width: 380px;
  margin: 13px;
  font-size: 1.75rem;

  @media (max-width: 600px) {
    font-size: 1.5rem;
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
  }

  @media (max-width: 450px) {
    font-size: 1.25rem;
    max-width: 275px;
    min-width: 275px;
    min-height: unset;
  }

  img {
    width: 100%;
  }

  .desc {
    margin-top: 33px;
    text-align: left; 
  }
}
